<nav class="navbar navbar-expand-md bg-body-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><img src="/images/logo/logo-1.png" class="logo"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <form class="form-inline navbar-nav ms-auto">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          id="search-input"
        />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i> 
          Search
        </button>
      </form>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add Your Home</a>
        <%if(!currUser){%>
        <a class="nav-link" href="/signup"><b>SignUp</b></a>
        <a class="nav-link" href="/signin"><b>SignIn</b></a>
        <%}else{%>
        <a class="nav-link" href="/signout"><b>SignOut</b></a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
