<% layout('/layouts/boilerplate.ejs') -%>

<body>
  <br /><br />
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create new Listing</h3>
      <form
        action="/listings"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3">
          <label for="listing[title]" class="form-lable">Title</label>
          <input
            name="listing[title]"
            class="form-control"
            placeholder="enter title"
            type="text"
            required
          />
          <p class="invalid-feedback">Please enter Valid Title</p>
        </div>

        <div class="mb-3">
          <label for="listing[description]" class="form-lable"
            >Description</label
          >
          <textarea
            name="listing[description]"
            placeholder="enter description"
            class="form-control"
            required
          ></textarea>
          <p class="invalid-feedback">Please enter Valid Description</p>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="listing[image][filename]" class="form-lable"
              >Image File Name</label
            >
            <input
              name="listing[image][filename]"
              placeholder="enter Image Name"
              type="text"
              class="form-control"
            />
            <p class="invalid-feedback">Please enter Valid File Name</p>
          </div>
          <div class="mb-3 col-md-8">
            <label for="listing[image][url]" class="form-lable"
              >Image URL/ Link</label
            >
            <input
              name="listing[image][url]"
              placeholder="enter title "
              class="form-control"
              type="text"
            />
            <p class="invalid-feedback">Please enter URL/Link</p>
          </div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="listing[price]" class="form-lable">Price</label>
            <input
              name="listing[price]"
              placeholder="enter price"
              class="form-control"
              type="number"
              min="0"
              required
            />
            <p class="invalid-feedback">Please enter Valid Price</p>
          </div>

          <div class="mb-3 col-md-8">
            <label for="listing[country]" class="form-lable">Country</label>
            <input
              name="listing[country]"
              placeholder="enter country name"
              type="text"
              class="form-control"
              required
            />
            <p class="invalid-feedback">Please enter Valid Country Name</p>
          </div>
        </div>

        <div class="mb-3">
          <label for="listing[location]" class="form-lable">Location</label>
          <input
            name="listing[location]"
            placeholder="enter location"
            class="form-control"
            type="text"
            required
          />
          <p class="invalid-feedback">Please enter Valid Loaction</p>
        </div>
        <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
      </form>
    </div>
  </div>
  <br /><br />
</body>
