body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* ========== Navbar ========== */

.navbar {
  height: 5rem;
  background-color: #fff;
}

.logo {
  height: 3.5rem;
}

#search-input {
  border-radius: 2rem 0 0 2rem;
}

.btn-search {
  background-color: #ff385c;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0 2rem 2rem 0;
  padding: 0 1rem;
}

.btn-search i {
  display: inline;
  margin-right: 0.5rem;
}

.btn-search:hover {
  background-color: #ff385c;
  color: #fff;
}

.nav-link {
  color: #222;
}

.container-fluid {
  background-color: #fff;
}

/* =========== footer ========== */

.f-info-links a {
  text-decoration: none;
  color: #222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
}

.f-info-socials a {
  font-size: 1.2rem;
  color: black;
  margin: 0 0.5rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
}

/* =========== Cards ========== */

.show-card,
.listing-card {
  border: none;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}

.card-img-overlay p {
  height: 40%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.tax-details {
  font-size: 0.85rem;
}

@media (max-width: 576px) {
  .show-card .card-img-top {
    height: 25vh !important;
  }
}

.card-body {
  padding: 0;
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
  transition: 0.5s ease-in;
  display: flex;
  flex-direction: column-reverse;
  height: 20rem;
  border-radius: 1rem;
}

.card-img-overlay p {
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.card-img-overlay:hover {
  opacity: 1;
  background-color: #20080861;
}

.preview-curr-image {
  width: 25%;
}

.add-btn,
.edit-btn {
  background-color: #fe424d;
  border: none;
  font-weight: 700;
  padding-right: 3rem;
  padding-left: 3rem;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

.show-img {
  height: 50vh;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btns {
  display: flex;
  gap: 3rem;
}

.review-card {
  height: 25vh;
}

.review-card-content {
  height: 100%;
}

.review-comment {
  height: 35%;
  width: 80%;
  overflow-y: scroll;
}

.review-comment::-webkit-scrollbar {
  display: none;
}

.review-card-profile {
  height: 20%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.review-card-profile img {
  display: inline-block;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  object-fit: cover;
}

.review-card-profile p {
  font-size: 1.2rem;
}

#filters {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.categories {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem 1rem;
  opacity: 0.8;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
  margin: 0;
}

.tax-toggle {
  width: 20vw;
  border: 0.2px solid rgba(0, 0, 0, 0.477);
  border-radius: 1rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAP */

#map {
  width: 80vw;
  height: 50vh;
}
